---
import { cn } from '@/lib/utils';

interface Props {
  href?: string;
  className?: string;
}

const { href, className }: Props = Astro.props;
---

{
  href ? (
    <a
      class={cn("underline underline-offset-4 decoration-muted-foreground hover:decoration-2 hover:decoration-foreground transition-all", className)}
      href={href}
    >
      <slot />
    </a>
  ) : (
    <span class={className}>
      <slot />
    </span>
  )
}
