---
import { getCollection } from "astro:content";

const posts = await getCollection("posts", ({ data }) => {
	return data?.draft !== true;
});

const sortedPosts = posts.sort((a, b) => {
	return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
});

import BlogLayout from "../../layouts/BlogLayout.astro";
import { formatDateString } from "@/lib/utils";
---

<BlogLayout title={"Jack's Thoughts"}>
	<div class="flex flex-col gap-8 pb-12">
		{
			sortedPosts.map((post) => {
				return (
					<a
						href={`blog/${post.slug}`}
						class="flex flex-col gap-2 font-inconsolata delay-500 hover:animate-pulse"
					>
						<h3 class="text-3xl font-bold text-emerald-300">{post.data.title}</h3>
						<div class="font font-roboto text-base leading-tight">
							{post.data.description}
						</div>
						<div class="font-roboto text-sm ">{formatDateString(post.data.pubDate)}</div>
					</a>
				);
			})
		}
	</div>
</BlogLayout>
