---
import { getCollection } from 'astro:content';

const posts = await getCollection('posts', ({ data }) => {
	return data?.draft !== true;
});

const sortedPosts = posts.sort((a, b) => {
	return (
		new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
	);
});

import Layout from '@/layouts/layout.astro';
import { formatDateString } from '@/lib/utils';
---

<Layout>
	<div class="space-y-3">
		<h1 class="font-serif">Blog</h1>
		<p class="text-muted-foreground text-sm">
			Are they really just letting everyone write these things now?
		</p>
	</div>
	<ul>
		{
			sortedPosts.map((post) => (
				<li class="py-8">
					<a class="space-y-2" href={`/blog/${post.slug}`}>
						<h3 class="strikethrough underline-offset-4 decoration-foreground hover:decoration-2 hover:decoration-muted-foreground transition-all">
							{post.data.title}
						</h3>
						<p class="text-sm text-muted-foreground">{post.data.description}</p>
						<p class="text-sm font-serif text-muted-foreground">
							{formatDateString(post.data.pubDate)}
						</p>
					</a>
				</li>
			))
		}
	</ul>
</Layout>
