@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DD";
  font-weight: 500;
  font-display: block;
  src: url(/dd.woff2) format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: 400;
  font-display: swap;
  src: url(/JetBrainsMono-Regular.woff2) format("woff2");
}

::selection {
  background: var(--color-orange);
  color: white;
}

@theme {
  --font-sans:
    "DD", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "JetBrains Mono", "Menlo", monospace;
  /* Font size */
  --text-10: 0.625rem;
  --text-12: 0.75rem;
  --text-13: 0.8125rem;
  --text-14: 0.875rem;
  --text-15: 0.9375rem;
  --text-16: 1rem;
  --text-18: 1.125rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --text-32: 2rem;
  --text-40: 2.5rem;
  --text-48: 3rem;
  --text-56: 3.5rem;
  --text-64: 4rem;
  /* Font weight */
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  /* Line height */
  --leading-12: 0.75rem;
  --leading-16: 1rem;
  --leading-20: 1.25rem;
  --leading-24: 1.5rem;
  --leading-28: 1.75rem;
  --leading-32: 2rem;
  --leading-40: 2.5rem;
  --leading-48: 3rem;
  --leading-56: 3.5rem;
  /* Radius */
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-32: 32px;
  --radius-full: 9999px;
  /* Shadows */
  --shadow-border-color: rgba(0, 0, 0, 0.05);
  --shadow-medium: 0 8px 30px rgba(0, 0, 0, 0.12);
  --shadow-border: 0 0 0 1px var(--shadow-border-color);
  --shadow-border-inset: inset 0 0 0 1px rgba(0, 0, 0, 0.08);
  --shadow-small: 0px 2px 2px rgba(0, 0, 0, 0.04);
  --shadow-border-small: var(--shadow-border), var(--shadow-small);
  --shadow-medium:
    0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 8px -8px rgba(0, 0, 0, 0.04);
  --shadow-border-medium: var(--shadow-border), var(--shadow-medium);
  --shadow-large:
    0px 2px 2px rgba(0, 0, 0, 0.04), 0px 8px 16px -4px rgba(0, 0, 0, 0.04);
  --shadow-border-large: var(--shadow-border), var(--shadow-large);
  --shadow-tooltip:
    var(--shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 4px 8px rgba(0, 0, 0, 0.04);
  --shadow-menu:
    var(--shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 4px 8px -4px rgba(0, 0, 0, 0.04), 0px 16px 24px -8px rgba(0, 0, 0, 0.06);
  --shadow-modal:
    var(--shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
  --shadow-fullscreen:
    var(--shadow-border), 0px 1px 1px rgba(0, 0, 0, 0.02),
    0px 8px 16px -4px rgba(0, 0, 0, 0.04),
    0px 24px 32px -8px rgba(0, 0, 0, 0.06);
  --color-orange: #ff4d00;
  --color-red: #ff2b43;
  --color-orange-bg: #ff4d0010;
  --color-orange-bg2: #ff4d0095;
  --color-orange-bg3: #ff4d0018;
  --color-yellow: #ffd335;
  --color-blue: #0070f3;
  --color-code-block-bg: #fff;
  --color-demo-bg: var(--color-gray2);
  --color-code-tag: #fb7100;
  --color-code-string: rgb(6, 122, 110);
  /* Gray */
  --color-high-contrast: #000;
  --color-low-contrast: #fff;
  --color-bg: var(--color-gray1);
  --color-gray1: hsl(0 0% 99%);
  --color-gray2: hsl(0 0% 97.3%);
  --color-gray3: hsl(0 0% 95.1%);
  --color-gray4: hsl(0 0% 93%);
  --color-gray5: hsl(0 0% 90.9%);
  --color-gray6: hsl(0 0% 88.7%);
  --color-gray7: hsl(0 0% 85.8%);
  --color-gray8: hsl(0 0% 78%);
  --color-gray9: hsl(0 0% 56.1%);
  --color-gray10: hsl(0 0% 52.3%);
  --color-gray11: hsl(0 0% 43.5%);
  --color-gray12: hsl(0 0% 9%);
  /* Gray Alpha */
  --color-gray-a1: hsla(0, 0%, 0%, 0.012);
  --color-gray-a2: hsla(0, 0%, 0%, 0.027);
  --color-gray-a3: hsla(0, 0%, 0%, 0.047);
  --color-gray-a4: hsla(0, 0%, 0%, 0.071);
  --color-gray-a5: hsla(0, 0%, 0%, 0.09);
  --color-gray-a6: hsla(0, 0%, 0%, 0.114);
  --color-gray-a7: hsla(0, 0%, 0%, 0.141);
  --color-gray-a8: hsla(0, 0%, 0%, 0.22);
  --color-gray-a9: hsla(0, 0%, 0%, 0.439);
  --color-gray-a10: hsla(0, 0%, 0%, 0.478);
  --color-gray-a11: hsla(0, 0%, 0%, 0.565);
  --color-gray-a12: hsla(0, 0%, 0%, 0.91);
  /* Blue */
  --color-blue1: hsl(206, 100%, 99.2%);
  --color-blue2: hsl(210, 100%, 98%);
  --color-blue3: hsl(209, 100%, 96.5%);
  --color-blue4: hsl(210, 98.8%, 94%);
  --color-blue5: hsl(209, 95%, 90.1%);
  --color-blue6: hsl(209, 81.2%, 84.5%);
  --color-blue7: hsl(208, 77.5%, 76.9%);
  --color-blue8: hsl(206, 81.9%, 65.3%);
  --color-blue9: hsl(206, 100%, 50%);
  --color-blue10: hsl(208, 100%, 47.3%);
  --color-blue11: hsl(211, 100%, 43.2%);
  --color-blue12: hsl(211, 100%, 15%);
  /* Blue Alpha */
  --color-blueA1: #0080ff04;
  --color-blueA2: #008cff0b;
  --color-blueA3: #008ff519;
  --color-blueA4: #009eff2a;
  --color-blueA5: #0093ff3d;
  --color-blueA6: #0088f653;
  --color-blueA7: #0083eb71;
  --color-blueA8: #0084e6a1;
  --color-blueA9: #0090ff;
  --color-blueA10: #0086f0fa;
  --color-blueA11: #006dcbf2;
  --color-blueA12: #002359ee;
  /* Pink */
  --color-pink1: hsl(322, 100%, 99.4%);
  --color-pink2: hsl(323, 100%, 98.4%);
  --color-pink3: hsl(323, 86.3%, 96.5%);
  --color-pink4: hsl(323, 78.7%, 94.2%);
  --color-pink5: hsl(323, 72.2%, 91.1%);
  --color-pink6: hsl(323, 66.3%, 86.6%);
  --color-pink7: hsl(323, 62%, 80.1%);
  --color-pink8: hsl(323, 60.3%, 72.4%);
  --color-pink9: hsl(322, 65%, 54.5%);
  --color-pink10: hsl(322, 63.9%, 50.7%);
  --color-pink11: hsl(322, 75%, 46%);
  --color-pink12: hsl(320, 70%, 13.5%);
  /* Red */
  --color-red1: hsl(359, 100%, 99.4%);
  --color-red2: hsl(359, 100%, 98.6%);
  --color-red3: hsl(360, 100%, 96.8%);
  --color-red4: hsl(360, 97.9%, 94.8%);
  --color-red5: hsl(360, 90.2%, 91.9%);
  --color-red6: hsl(360, 81.7%, 87.8%);
  --color-red7: hsl(359, 74.2%, 81.7%);
  --color-red8: hsl(359, 69.5%, 74.3%);
  --color-red9: hsl(358, 75%, 59%);
  --color-red10: hsl(358, 69.4%, 55.2%);
  --color-red11: hsl(358, 65%, 48.7%);
  --color-red12: hsl(354, 50%, 14.6%);
  /* Amber */
  --color-amber1: hsl(39, 70%, 99%);
  --color-amber2: hsl(40, 100%, 96.5%);
  --color-amber3: hsl(44, 100%, 91.7%);
  --color-amber4: hsl(43, 100%, 86.8%);
  --color-amber5: hsl(42, 100%, 81.8%);
  --color-amber6: hsl(38, 99.7%, 76.3%);
  --color-amber7: hsl(36, 86.1%, 67.1%);
  --color-amber8: hsl(35, 85.2%, 55.1%);
  --color-amber9: hsl(39, 100%, 57%);
  --color-amber10: hsl(35, 100%, 55.5%);
  --color-amber11: hsl(30, 100%, 34%);
  --color-amber12: hsl(20, 80%, 17%);
  /* Green */
  --color-green1: hsl(136, 50%, 98.9%);
  --color-green2: hsl(138, 62.5%, 96.9%);
  --color-green3: hsl(139, 55.2%, 94.5%);
  --color-green4: hsl(140, 48.7%, 91%);
  --color-green5: hsl(141, 43.7%, 86%);
  --color-green6: hsl(143, 40.3%, 79%);
  --color-green7: hsl(146, 38.5%, 69%);
  --color-green8: hsl(151, 40.2%, 54.1%);
  --color-green9: hsl(151, 55%, 41.5%);
  --color-green10: hsl(152, 57.5%, 37.6%);
  --color-green11: hsl(153, 67%, 28.5%);
  --color-green12: hsl(155, 40%, 14%);
  /* Focus */
  --color-focus: var(--color-orange);
  --focus-ring: 2px solid var(--color-focus);
  /* Breakpoints */
  --breakpoint-*: initial;
  --breakpoint-sm: 960px;
  /* Motion */
  --animate-blink: blink 1.2s ease infinite;
  --animate-fade-in: fade-in 250ms ease-in-out forwards;
  --ease-swift: cubic-bezier(0.23, 0.88, 0.26, 0.92);
  --ease-overlay: cubic-bezier(0.175, 0.885, 0.32, 1.1);
  /* prettier-ignore */
  --timing-bounce: linear(0 0%, 0.005871 1%, 0.022058 2%, 0.046612 3%, 0.077823 4%, 0.114199 5%, 0.154441 6%, 0.197431 7.000000000000001%, 0.242208 8%, 0.287959 9%, 0.333995 10%, 0.379743 11%, 0.424732 12%, 0.46858 13%, 0.510982 14.000000000000002%, 0.551702 15%, 0.590564 16%, 0.627445 17%, 0.662261 18%, 0.694971 19%, 0.725561 20%, 0.754047 21%, 0.780462 22%, 0.804861 23%, 0.82731 24%, 0.847888 25%, 0.866679 26%, 0.883775 27%, 0.899272 28.000000000000004%, 0.913267 28.999999999999996%, 0.925856 30%, 0.937137 31%, 0.947205 32%, 0.956153 33%, 0.96407 34%, 0.971043 35%, 0.977153 36%, 0.982479 37%, 0.987094 38%, 0.991066 39%, 0.994462 40%, 0.997339 41%, 0.999755 42%, 1.001761 43%, 1.003404 44%, 1.004727 45%, 1.00577 46%, 1.006569 47%, 1.007157 48%, 1.007563 49%, 1.007813 50%, 1.007931 51%, 1.007939 52%, 1.007855 53%, 1.007697 54%, 1.007477 55.00000000000001%, 1.00721 56.00000000000001%, 1.006907 56.99999999999999%, 1.006576 57.99999999999999%, 1.006228 59%, 1.005868 60%, 1.005503 61%, 1.005137 62%, 1.004776 63%, 1.004422 64%, 1.004078 65%, 1.003746 66%, 1.003429 67%, 1.003127 68%, 1.00284 69%, 1.002571 70%, 1.002318 71%, 1.002082 72%, 1.001863 73%, 1.00166 74%, 1.001473 75%, 1.001301 76%, 1.001143 77%, 1.001 78%, 1.000869 79%, 1.000752 80%, 1.000645 81%, 1.00055 82%, 1.000464 83%, 1.000388 84%, 1.000321 85%, 1.000261 86%, 1.000209 87%, 1.000163 88%, 1.000123 89%, 1.000088 90%);

  @keyframes blink {
    0% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.dark {
  --color-bg: #0a0a0a;
  --color-high-contrast: #fff;
  --color-low-contrast: #0a0a0a;
  --color-demo-bg: hsl(0 0% 7%);
  --color-code-block-bg: var(--color-demo-bg);
  --color-code-tag: #ffc799;
  --color-code-string: #99ffe4;
  /* Gray */
  --color-gray1: hsl(0 0% 8.5%);
  --color-gray2: hsl(0 0% 11%);
  --color-gray3: hsl(0 0% 13.6%);
  --color-gray4: hsl(0 0% 15.8%);
  --color-gray5: hsl(0 0% 17.9%);
  --color-gray6: hsl(0 0% 20.5%);
  --color-gray7: hsl(0 0% 24.3%);
  --color-gray8: hsl(0 0% 31.2%);
  --color-gray9: hsl(0 0% 43.9%);
  --color-gray10: hsl(0 0% 49.4%);
  --color-gray11: hsl(0 0% 62.8%);
  --color-gray12: hsl(0 0% 93%);
  /* Gray Alpha */
  --color-gray-a1: hsla(0, 0%, 100%, 0);
  --color-gray-a2: hsla(0, 0%, 100%, 0.026);
  --color-gray-a3: hsla(0, 0%, 100%, 0.056);
  --color-gray-a4: hsla(0, 0%, 100%, 0.077);
  --color-gray-a5: hsla(0, 0%, 100%, 0.103);
  --color-gray-a6: hsla(0, 0%, 100%, 0.129);
  --color-gray-a7: hsla(0, 0%, 100%, 0.172);
  --color-gray-a8: hsla(0, 0%, 100%, 0.249);
  --color-gray-a9: hsla(0, 0%, 100%, 0.386);
  --color-gray-a10: hsla(0, 0%, 100%, 0.446);
  --color-gray-a11: hsla(0, 0%, 100%, 0.592);
  --color-gray-a12: hsla(0, 0%, 100%, 0.923);
  /* Blue */
  --color-blue1: hsl(212, 35%, 9.2%);
  --color-blue2: hsl(216, 50%, 11.8%);
  --color-blue3: hsl(214, 59.4%, 15.3%);
  --color-blue4: hsl(214, 65.8%, 17.9%);
  --color-blue5: hsl(213, 71.2%, 20.2%);
  --color-blue6: hsl(212, 77.4%, 23.1%);
  --color-blue7: hsl(211, 85.1%, 27.4%);
  --color-blue8: hsl(211, 89.7%, 34.1%);
  --color-blue9: hsl(206, 100%, 50%);
  --color-blue10: hsl(209, 100%, 60.6%);
  --color-blue11: hsl(210, 100%, 66.1%);
  --color-blue12: hsl(206, 98%, 95.8%);
  /* Blue Alpha */
  --color-blueA1: #004df211;
  --color-blueA2: #1166fb18;
  --color-blueA3: #0077ff3a;
  --color-blueA4: #0075ff57;
  --color-blueA5: #0081fd6b;
  --color-blueA6: #0f89fd7f;
  --color-blueA7: #2a91fe98;
  --color-blueA8: #3094feb9;
  --color-blueA9: #0090ff;
  --color-blueA10: #3b9eff;
  --color-blueA11: #70b8ff;
  --color-blueA12: #c2e6ff;
  /* Pink */
  --color-pink1: hsl(318, 25%, 9.6%);
  --color-pink2: hsl(319, 32.2%, 11.6%);
  --color-pink3: hsl(319, 41%, 16%);
  --color-pink4: hsl(320, 45.4%, 18.7%);
  --color-pink5: hsl(320, 49%, 21.1%);
  --color-pink6: hsl(321, 53.6%, 24.4%);
  --color-pink7: hsl(321, 61.1%, 29.7%);
  --color-pink8: hsl(322, 74.9%, 37.5%);
  --color-pink9: hsl(322, 65%, 54.5%);
  --color-pink10: hsl(323, 72.8%, 59.2%);
  --color-pink11: hsl(325, 90%, 66.4%);
  --color-pink12: hsl(322, 90%, 95.8%);
  /* Red */
  --color-red1: hsl(353, 23%, 9.8%);
  --color-red2: hsl(357, 34.4%, 12%);
  --color-red3: hsl(356, 43.4%, 16.4%);
  --color-red4: hsl(356, 47.6%, 19.2%);
  --color-red5: hsl(356, 51.1%, 21.9%);
  --color-red6: hsl(356, 55.2%, 25.9%);
  --color-red7: hsl(357, 60.2%, 31.8%);
  --color-red8: hsl(358, 65%, 40.4%);
  --color-red9: hsl(358, 75%, 59%);
  --color-red10: hsl(358, 85.3%, 64%);
  --color-red11: hsl(358, 100%, 69.5%);
  --color-red12: hsl(351, 89%, 96%);
  /* Amber */
  --color-amber1: hsl(36, 100%, 6.1%);
  --color-amber2: hsl(35, 100%, 7.6%);
  --color-amber3: hsl(32, 100%, 10.2%);
  --color-amber4: hsl(32, 100%, 12.4%);
  --color-amber5: hsl(33, 100%, 14.6%);
  --color-amber6: hsl(35, 100%, 17.1%);
  --color-amber7: hsl(35, 91%, 21.6%);
  --color-amber8: hsl(36, 100%, 25.5%);
  --color-amber9: hsl(39, 100%, 57%);
  --color-amber10: hsl(43, 100%, 64%);
  --color-amber11: hsl(39, 90%, 49.8%);
  --color-amber12: hsl(39, 97%, 93.2%);
  /* Green */
  --color-green1: hsl(146, 30%, 7.4%);
  --color-green2: hsl(155, 44.2%, 8.4%);
  --color-green3: hsl(155, 46.7%, 10.9%);
  --color-green4: hsl(154, 48.4%, 12.9%);
  --color-green5: hsl(154, 49.7%, 14.9%);
  --color-green6: hsl(154, 50.9%, 17.6%);
  --color-green7: hsl(153, 51.8%, 21.8%);
  --color-green8: hsl(151, 51.7%, 28.4%);
  --color-green9: hsl(151, 55%, 41.5%);
  --color-green10: hsl(151, 49.3%, 46.5%);
  --color-green11: hsl(151, 50%, 53.2%);
  --color-green12: hsl(137, 72%, 94%);
  /* Shadows */
  --shadow-border-color: var(--color-gray3);
}

@supports (color: color(display-p3 1 1 1)) {
  @theme {
    --color-yellow: color(display-p3 0.99 0.8 0.14);
    --color-orange: color(display-p3 0.99 0.4 0.02);
    --color-orange-bg: color(display-p3 0.99 0.4 0.02 / 0.06);
    --color-orange-bg2: color(display-p3 0.99 0.4 0.02 / 0.55);
    --color-orange-bg3: color(display-p3 0.99 0.4 0.02 / 0.1);
    --color-red: color(display-p3 1 0.28 0.3);
    --color-green: color(display-p3 0.16 0.81 0.49);
    --color-blue: color(display-p3 0.07 0.48 1);
    --color-purple: color(display-p3 0.71 0.52 1);
  }
}

/* Utilities */
@layer components {
  .gesture-grabbing {
    cursor: grabbing;
    user-select: none;
    -webkit-user-select: none;

    * {
      pointer-events: none;
      user-select: none;
      -webkit-user-select: none;
    }
  }

  .gesture-resizing {
    cursor: ew-resize;
    user-select: none;
    -webkit-user-select: none;

    * {
      pointer-events: none;
      user-select: none;
      -webkit-user-select: none;
    }
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .grid-stack {
    @apply grid;
    place-items: center center;

    > * {
      grid-area: 1 / 1;
    }
  }

  .truncate {
    @apply overflow-hidden whitespace-nowrap;
    text-overflow: ellipsis;
  }

  .translate-center-x {
    @apply left-[50%] -translate-x-1/2;
  }

  .translate-z-0 {
    transform: translateZ(0);
  }

  .translate-center-y {
    @apply top-[50%] -translate-y-1/2;
  }

  .translate-center {
    @apply top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2;
  }

  .bleed {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    max-width: var(--max-width);
  }

  a,
  button,
  input,
  textarea {
    outline: 0;

    &:focus-visible {
      outline: 2px solid var(--color-focus);
    }
  }
}
