---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/Layout.astro";
const pageTitle = "Tag Index";

const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout title={pageTitle}>
	<div class="flex flex-wrap gap-2">
		{
			tags.map((tag) => (
				<p class="mt-1 border-solid border border-white rounded-lg py-2 px-4 text-xl">
					<a href={`/tags/${tag}`}>{tag}</a>
				</p>
			))
		}
	</div>
</BaseLayout>
