.typewriter {
	overflow: hidden;
	border-right: 0.1em solid #fffbeb;
	white-space: nowrap;
	animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}

	50% {
		border-color: #fffbeb;
	}
}
