---
import BlogLayout from "../layouts/BlogLayout.astro";
---

<BlogLayout title="Page Not Found">
	<h1 class="pb-4 text-6xl font-bold">Oops! Page Not Found (404)</h1>
	<p class="pb-8 text-3xl">Looks like you've wandered into uncharted territory.</p>
	<a
		href="/"
		class="h-fit rounded-md bg-emerald-300 px-5 py-3 text-2xl font-medium text-white hover:bg-emerald-400"
	>
		Let's head back home.
	</a>
</BlogLayout>
