---
import BaseLayout from '../layouts/Layout.astro'
import { getCollection } from 'astro:content';
const allPosts = await getCollection("posts");
const pageTitle = "My Astro Learning Blog";
---
<BaseLayout title={pageTitle}>
  <p >This is where I will post about my journey learning Astro.</p>
  <ul>
    {allPosts.map((post) => <li><a href={post.slug}>{post.data.title}</a></li>)}

  </ul>
</BaseLayout>
<style>
  html {
   color: white;
  }
</style>