---
import ListLink from '@/components/list/list-link.astro';
import ListRow from '@/components/list/list-row.astro';
import ListText from '@/components/list/list-sub-text.astro';
import { Separator } from '@/components/ui/separator';
import Layout from '@/layouts/layout-prose.astro';
import { BUILDING } from '@/lib/constants';
import { getDisplayArr } from '@/lib/utils';

const building = getDisplayArr(BUILDING);
---

<Layout title="building">
  <div class="space-y-2">
    <h1 class="font-serif">Building</h1>
    <p class="text-muted-foreground text-sm">
      Some hobby projects that I work on in my free time. Whenever that is.
    </p>
  </div>
  {building.map((stage) =>
  {
    if(!stage.items.length)return null;
    return (
      <div class="space-y-3">
        <h2 class="font-serif capitalize">{stage.title}</h2>
        <ul class="space-y-2 text-sm text-muted-foreground">
          {
            stage.items.map((project, i) => (
              <>
                <ListRow>
                  <ListLink href={project.link}>{project.name}</ListLink>
                  <ListText>{project.description}</ListText>
                </ListRow>
                {i !== stage.items.length - 1 ? <Separator /> : null}
              </>
            ))
          }
        </ul>
      </div>
    )
  })}
</Layout>
