---
import Layout from '@/layouts/layout-prose.astro';
import Socials from '@/components/socials/socials.astro';
import { BUILDING } from '@/lib/constants';
import ListLink from '@/components/list/list-link.astro';
import ListRow from '@/components/list/list-row.astro';
---

<Layout>
  <div class="space-y-6">
    <p>
      Full stack developer creating elegant, minimalistic software that enhances
      user experience. Exploring design systems and environmental tech.
    </p>
    <p>
      Currently serving as the lead developer at a Stealth Startup and
      consulting at Insurance BCX. Always working on a few personal projects.
    </p>
  </div>
  <div class="space-y-3 text-sm text-muted-foreground">
    <a
      href="/about"
      class="block underline underline-offset-4 decoration-muted-foreground hover:underline-offset-[5px] hover:decoration-2 hover:decoration-foreground transition-all"
      >a little more personal</a
    >
    <a
      href="/blog"
      class="block underline underline-offset-4 decoration-muted-foreground hover:underline-offset-[5px] hover:decoration-2 hover:decoration-foreground transition-all"
      >unsolicited opinions</a
    >
  </div>
  <div class="space-y-8">
    <div class="space-y-3">
      <a href="/building">Building</a>
      <ul class="space-y-2 text-sm text-muted-foreground">
        {
          BUILDING.currently.map((project) => (
            <ListRow>
              <ListLink
                className="underline underline-offset-4 decoration-muted-foreground hover:underline-offset-[5px] hover:decoration-2 hover:decoration-foreground transition-all"
                href={project.link}
              >
                {project.name}
              </ListLink>
            </ListRow>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="space-y-8">
    <div class="space-y-3">
      <a href="/building">Past Projects</a>
      <ul class="space-y-2 text-sm text-muted-foreground">
        {
          BUILDING.past.map((project) => (
            <ListRow>
              <ListLink
                className="underline underline-offset-4 decoration-muted-foreground hover:underline-offset-[5px] hover:decoration-2 hover:decoration-foreground transition-all"
                href={project.link}
              >
                {project.name}
              </ListLink>
            </ListRow>
          ))
        }
      </ul>
    </div>
  </div>
  <Socials />
</Layout>
