---
import Layout from "../layouts/Layout.astro";
import Loading from "../components/Loading.astro";
import Home from "../components/Home";
import About from "../components/About";
import Contact from "../components/Contact";
import Projects from "../components/Projects";

// let isLoaded = false;
// setTimeout(() => (isLoaded = true), 1000);
// style={{ overflowY: isLoaded ? undefined : "hidden" }}
---

<Layout title="Jack Watters">
	<main>
		<!-- {!isLoaded && <Loading />} -->
		<Home client:idle />
		<About client:visible />
		 <Projects client:visible />
		<Contact client:visible  /> 
	</main>
</Layout>
