---
import Layout from "../layouts/Layout.astro";
import Loading from "../components/Loading.astro";
import Home from "../components/Home";
import About from "../components/About";
import Contact from "../components/Contact";
import Projects from "../components/Projects";
---

<Layout title="Jack Watters">
	<main>
		<Loading />
		<Home client:idle />
		<About client:visible />
		<Projects client:visible />
		<Contact client:visible />
	</main>
</Layout>
<script>
	const loading = document.querySelector(".loading") as HTMLElement;
	console.log(loading);
	if (loading && loading.style) {
		setTimeout(() => {
			loading.style.display = "none";
		}, 1000);
	}
</script>
