---
import ListLink from '@/components/list/list-link.astro';
import ListRow from '@/components/list/list-row.astro';
import { Separator } from '@/components/ui/separator';
import Layout from '@/layouts/layout-prose.astro';
import { LEARNING } from '@/lib/constants';
import { getDisplayArr } from '@/lib/utils';

const learning = getDisplayArr(LEARNING);
---

<Layout title="learning">
  <div class="space-y-2">
    <h1 class="font-serif">Learning</h1>
    <p class="text-muted-foreground text-sm">
      More than anything, I love learning. Here are some of the things I'm
      currently learning or hope to learn some day.
    </p>
  </div>
  {learning.map((stage) => {
    if(!stage.items.length)return null;
    return (
  <div class="space-y-3">
    <h2 class="font-serif capitalize">{stage.title}</h2>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
      stage.items.map((skill, i) => (
          <>
            <ListRow>
              <ListLink>{skill}</ListLink>
            </ListRow>
            {i !== stage.items.length - 1 ? <Separator /> : null}
          </>
        ))
      }
    </ul>
  </div>)})}
</Layout>
