---
import ListLink from '@/components/list/list-link.astro';
import ListRow from '@/components/list/list-row.astro';
import ListText from '@/components/list/list-sub-text.astro';
import { Separator } from '@/components/ui/separator';
import Layout from '@/layouts/layout-prose.astro';
import { READING } from '@/lib/constants';
import { getDisplayArr } from '@/lib/utils';

const reading = getDisplayArr(READING);
---

<Layout title="reading">
  <div class="space-y-2">
    <h1 class="font-serif">Reading</h1>
    <p class="text-muted-foreground text-sm">
      Some books I'm currently reading, have read, or plan to read
    </p>
  </div>
  {reading.map((stage) => {
    if(!stage.items.length)return null;
    return (
  <div class="space-y-3">
    <h2 class="font-serif capitalize">{stage.title}</h2>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
        stage.items.map((book, i) => (
        <>
          <ListRow>
            <ListLink href={book.link}>{book.name}</ListLink>
            <ListText>{book.genre}</ListText>
          </ListRow>
          {i !== stage.items.length - 1 ? <Separator /> : null}
        </>
        ))
      }
    </ul>
  </div>
  )})}
</Layout>
