
---
import ListLink from '@/components/list/list-link.astro';
import ListRow from '@/components/list/list-row.astro';
import ListSubText from '@/components/list/list-sub-text.astro';
import { Separator } from '@/components/ui/separator';
import Layout from '@/layouts/layout-prose.astro';
import { WATCHING } from '@/lib/constants';
import { getDisplayArr } from '@/lib/utils';

const watching = getDisplayArr(WATCHING);
---

<Layout title="watching">
  <div class="space-y-2">
    <h1 class="font-serif">Watching (listening etc etc)</h1>
    <p class="text-muted-foreground text-sm">
      Some of the movies, television, documentaries, podcasts I've enjoyed over
      the years.
    </p>
  </div>
  {watching.map((stage) =>
  {
    if(!stage.items.length)return null;
    return (
  <div class="space-y-3">
    <h2 class="font-serif capitalize">{stage.title}</h2>
    <ul class="space-y-2 text-sm text-muted-foreground">
      {
      stage.items.map((item, i) => (
          <>
            <ListRow>
              <ListLink href={item.link}>{item.name}</ListLink>
              <ListSubText>{item.description}</ListSubText>
            </ListRow>
            {i !== stage.items.length - 1 ? <Separator /> : null}
          </>
        ))
      }
    </ul>
  </div>
)})}
</Layout>
