---
import "../styles/animations/line-through.css";
---

<nav class="fixed z-10 flex h-fit w-screen justify-between px-10 py-8">
	<a
		href="/#home"
		class="line-through-animation h-fit font-roboto-mono text-xl uppercase"
	>
		Watters
	</a>
	<div
		class="-mt-0.5 flex flex-col items-center gap-2 font-inconsolata text-xl font-bold uppercase leading-snug sm:flex-row sm:gap-4"
	>
		<a href="/blog" class="line-through-animation"> Blog </a>
		<a href="/#about" class="line-through-animation"> About </a>
		<a href="/#projects" class="line-through-animation"> Projects </a>
		<a href="/#contact" class="line-through-animation"> Contact </a>
		<div class="flex gap-4">
			<a
				href="https://www.linkedin.com/in/john-watters/"
				class="block h-5 w-5"
				target="_blank"
				rel="noopener noreferrer"
			>
				<img src="/linkedin.svg" alt="" class="block h-5 w-5" />
			</a>
			<a
				href="https://github.com/jackwatters45/"
				class="block h-5 w-5"
				target="_blank"
				rel="noopener noreferrer"
			>
				<img src="/github.svg" alt="" class="block h-5 w-5" />
			</a>
		</div>
	</div>
</nav>
