---
import SocialBadge from './social-badge.astro';
---

<div class="space-y-2">
  <div>Connect</div>
  <ul class="flex gap-2 flex-wrap">
    <li>
      <SocialBadge href="https://www.linkedin.com/in/john-watters/"
        >LinkedIn
      </SocialBadge>
    </li>
    <li>
      <SocialBadge href="https://github.com/jackwatters45"> Github</SocialBadge>
    </li>
    <!-- <li>
      <SocialBadge href="https://x.com/w0tters">Twitter</SocialBadge>
    </li> -->
    <li>
      <SocialBadge href="https://open.spotify.com/user/jackwatters22">
        Spotify
      </SocialBadge>
    </li>
    <li>
      <SocialBadge href="mailto:jackwattersdev@gmail.com">
        jackwattersdev@gmail.com
      </SocialBadge>
    </li>
  </ul>
</div>
