---
interface Props {
  src: string;
  alt: string;
  caption?: string;
}

const { src, alt, caption } = Astro.props;
---

<div class="flex flex-col items-center justify-center px-4 space-y-4">
	<img src={src} alt={alt} class="rounded-md shadow-lg" />
	<div class="text-sm">
		{caption ?? alt}
	</div>
</div>
