---
import Layout from "./Layout.astro";

interface Props {
	title: string;
}

interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
---

<Layout title={title} description={description}>
	<div class="p-4 pt-36 flex flex-col items-center self-center">
		<div class="w-3/4 lg:w-2/3 max-w-screen-md"><slot /></div>
	</div>
</Layout>
<style>
	body {
		font-family: "Inconsolata", "Roboto Mono", "Roboto";
	}
</style>
