---
import CommonHead from '@/components/meta/common-head.astro';

interface Props {
  title?: string;
}

const { title }: Props = Astro.props;
---

<html lang="en" class="dark">
  <CommonHead title={title} />
  <body>
    <main class="h-screen w-screen overflow-x-hidden text-base">
      <slot />
    </main>
  </body>
</html>
