---
import BlogLayout from "./BlogLayout.astro";
import Prose from "../components/Prose.astro";

const { frontmatter } = Astro.props;
const { title } = frontmatter;
---

<BlogLayout title={title}>
	<div class="flex flex-col">
		<h1 class="text-4xl font-bold">{frontmatter.title}</h1>
		<p class="pt-4 text-stone-300">
			{new Date(frontmatter.pubDate).toLocaleDateString()}
		</p>
		<div class="pt-8">
			<Prose>
				<slot />
			</Prose>
		</div>
		<div class="pt-8">
			<hr class="pt-8 opacity-10" />
			<div class="">
				<div class="flex gap-2">
					<a
						href="https://www.linkedin.com/in/john-watters/"
						class="cursor-pointer font-roboto text-lg text-stone-400 underline"
					>
						connect on linkedin
					</a>
					<div class="font-roboto text-lg font-bold text-stone-400">·</div>
					<a
						href="https://github.com/jackwatters45"
						class="cursor-pointer font-roboto text-lg text-stone-400 underline"
					>
						follow on github
					</a>
				</div>
				<div class="pb-6 pt-12">
					<a
						href="/#home"
						class="line-through-animation h-fit font-roboto-mono text-lg uppercase"
					>
						Watters
					</a>
				</div>
			</div>
		</div>
	</div>
</BlogLayout>
<style>
	h2 {
		color: var(--color-stone-300);
	}
	body {
		line-height: 1.6;
	}

	/* Markdown Elements */
	h3 {
		font-size: 2rem;
		font-weight: bold;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}

	ul,
	ol {
		margin-top: 1rem;
		margin-left: 2.5rem; /* Adjust the indentation */
		list-style-type: disc; /* Sets the default list style */
	}

	li {
		margin-bottom: 0.5rem;
	}
</style>
